@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --font-giga-bold: 700 60px/78px "PT Sans", sans-serif;
  --font-mega: 400 40px/40px "PT Sans", sans-serif;
  --font-kilo-bold: 700 30px/36px "PT Sans", sans-serif;
  --font-xxlarge-bold:  700 24px/28px "PT Sans", sans-serif;
  --font-xlarge: 400 22px/26px "PT Sans", sans-serif;
  --font-large-high-bold: 700 20px/36px "PT Sans", sans-serif;
  --font-large-low-bold: 700 20px/24px "PT Sans", sans-serif;
  --font-base-high: 400 18px/24px "PT Sans", sans-serif;
  --font-base-average: 400 18px/23px "PT Sans", sans-serif;
  --font-base-low: 400 18px/21px "PT Sans", sans-serif;
  --font-small-high: 400 16px/21px "PT Sans", sans-serif;
  --font-small-low-bold: 700 16px/20px "PT Sans", sans-serif;
  --font-micro: 400 10px/10px "PT Sans", sans-serif;
  }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/

/* HEADER */

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.list-reset {
  list-style: none;
}

.navigation-link {
  font: var(--font-large-low-bold);
  font-style: normal;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
}

.additional-functions-link {
  font: var(--font-large-low-bold);
  font-style: normal;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
}

.notification-badge {
  font: var(--font-micro);
  text-align: center;
  font-style: normal;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
}

.additional-functions-link-wannahere {
  font: var(--font-mini-bold);
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

/* MAIN */

.hero {
  background-image: url("../images/main-content-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

.benefits {
  text-align: center;
}

.lead,
.lead-searching {
  font: var(--font-kilo-bold);
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.description {
  font: var(--font-xlarge);
  font-style: normal;
}

.advantages-list {
  text-align: center;
}

.advantages-item {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-square,
.advantages-item-tourist,
.advantages-item-accomodation,
.advantages-item-souvenirs {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-food {
  color: #333333;
  background-color: transparent;
}

.advantages-item h3 {
  font: var(--font-xxlarge-bold);
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-wide h3 {
  color: #FFFFFF;
}

/* HOTEL SEARCH */

.hotel-search {
  font: var(--font-xlarge);
  text-align: center;
  font-style: normal;
}

.hotel-search h2 {
  font: var(--font-kilo-bold);
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-link {
  font: var(--font-large-high-bold);
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157
}

/* SUBSCRIPTION */

.subscription {
  font: var(--font-xlarge);
  font-style: normal;
  color: #FFFFFF;
  text-align: center;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color:#82B3D3;
}

.subscription h2 {
  font: var(--font-kilo-bold);
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}

.field {
  font: var(--font-base-high);
  font-style: normal;
}

.button-big-primary {
  font: var(--font-large-high-bold);
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

/* FOOTER */

.page-footer {
  display: flex;
}

.footer-social-item a {
  font: var(--font-large-low-bold);
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.footer-contacts-phone {
  font: var(--font-mega);
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

/* CATALOG */

.catalog-wrapper {
  background-color: #000000;
  text-align: center;
  background-image: url("../images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.hotel-catalog-title {
  font: var(--font-giga-bold);
  font-style: normal;
  color: #FFFFFF;
}

.breadcrumbs-link {
  font: var(--font-small-high);
  font-style: normal;
  text-decoration: none;
  color: #FFFFFF;
}

/* FILTER*/

.catalog-filter-title {
  font: var(--font-large-low-bold);
  font-style: normal;
  text-transform: capitalize;
  color: #FFFFFF;
}

.control-input {
  font: var(--font-base-average);
  font-style: normal;
  color: #FFFFFF;
}

.button-small-primary,
.button-favourite {
  font: var(--font-small-low-bold);
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.button-transparent {
  font: var(--font-small-low-bold);
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
}

/* SEARCHING-RESULTS */

.product-list {
  display: flex;
}

.product-card-link {
  font: var(--font-xxlarge-bold);
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.button-details {
  font: var(--font-small-low-bold);
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
}

.button-favourite-current {
  font: var(--font-small-low-bold);
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7DB54F;
}

/* PAGINATION */

.pagination {
  display: flex;
}

.pagination-link {
  font: var(--font-large-high-bold);
  font-style: normal;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

/* CATALOG SUBSCRIPTION */

.hotel-catalog-subscription {
  font: var(--font-xlarge);
  font-style: normal;
  color:#333333;
  text-align: center;
}

.hotel-catalog-subscription h2 {
  font: var(--font-kilo-bold);
  font-style: normal;
  text-transform: uppercase;
  color:#000000;
}
