@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --font-header-xlarge: 700 60px/78px "PT Sans", sans-serif;
  --font-header-large: 400 40px/40px "PT Sans", sans-serif;
  --font-header-medium: 700 30px/36px "PT Sans", sans-serif;
  --font-header: 700 24px/28px "PT Sans", sans-serif;
  --font-xlarge: 400 22px/26px "PT Sans", sans-serif;
  --font-large-high-bold: 700 20px/36px "PT Sans", sans-serif;
  --font-large-low-bold: 700 20px/24px "PT Sans", sans-serif;
  --font-base-high: 400 18px/24px "PT Sans", sans-serif;
  --font-base-average: 400 18px/23px "PT Sans", sans-serif;
  --font-base-low: 400 18px/21px "PT Sans", sans-serif;
  --font-small-high: 400 16px/21px "PT Sans", sans-serif;
  --font-small-low-bold: 700 16px/20px "PT Sans", sans-serif;
  --font-micro: 400 10px/10px "PT Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100dvh;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 4px;
}

h1,
h2,
h3 {
  margin: 0;
}

p,
figure {
  margin: 0;
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/

/* HEADER */

.page-header {
  display: flex;
  align-items: center;
  padding: 0 70px;
  color: #000000;
  background-color: #FFFFFF;
  gap: 28px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font: var(--font-large-low-bold);
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  flex: 1;
}

.additional-functions-link {
  font: var(--font-large-low-bold);
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.notification-badge {
  font: var(--font-micro);
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
}

.additional-functions-link-wannahere {
  font: var(--font-mini-bold);
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

/* MAIN */

.main-content,
.hotel-catalog {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/main-content-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #82B3D3;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.benefits {
  text-align: center;
}

.benefits-reasons {
  padding: 69px 0;
}

.benefits-service {
  padding: 64px 0;
}

.lead,
.lead-searching {
  font: var(--font-header-medium);
  text-transform: uppercase;
  color: #000000;
}

.description {
  font: var(--font-xlarge);
}

.advantages h3 {
  margin-bottom: 60px;
}

.advantages-recommendations h3 {
  margin-bottom: 30px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-list-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
}

.advantages-list-grid li:nth-child(2) {
  grid-column: 2 / 4;
}

.advantages-list-grid li:nth-child(6) {
  grid-column: 1 / 3;
}

.advantages-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  min-height: 385px;
  padding: 16px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-img {
  display: block;
}

.advantages-item-light {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-food {
  color: #333333;
  background-color: transparent;
}

.advantages-item h3 {
  font: var(--font-header);
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-wide h3 {
  color: #FFFFFF;
}

/* HOTEL SEARCH */

.hotel-search {
  font: var(--font-xlarge);
  text-align: center;
  padding: 96px 0;
}

.hotel-search h2 {
  font: var(--font-header-medium);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000000;
}

.hotel-search-link {
  font: var(--font-large-high-bold);
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157
}

/* SUBSCRIPTION */

.subscription {
  font: var(--font-xlarge);
  color: #FFFFFF;
  text-align: center;
  padding: 96px 0 104px;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

.subscription h2 {
  font: var(--font-header-medium);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.email-field {
  font: var(--font-base-high);
}

.button-big-primary {
  font: var(--font-large-high-bold);
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

/* FOOTER */

.page-footer {
  display: flex;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.footer-social-item a {
  font: var(--font-large-low-bold);
  color: #000000;
}

.footer-contacts-phone {
  flex: 1;
  font: var(--font-header-large);
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.htmlacademy-link {
  margin-left: auto;
}

/* CATALOG */

.hotel-catalog-title {
  text-align: left;
  margin-bottom: 8px;
  font: var(--font-header-xlarge);
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  gap: 28px;
}

.breadcrumbs-link {
  font: var(--font-small-high);
  color: #FFFFFF;
}

.catalog-wrapper {
  background-color: #000000;
  text-align: center;
  background-image: url("../images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  padding: 35px 70px 70px;
}

/* FILTER*/

.catalog-products {
  display: flex;
}

.catalog-filter {
  display: flex;
  align-items: center;
}

.catalog-filter-title {
  font: var(--font-large-low-bold);
  text-transform: capitalize;
  color: #FFFFFF;
}

.control-input {
  font: var(--font-base-average);
  color: #FFFFFF;
}

.filter-button {
  display: flex;
  flex-direction: column;
}

.button-small-primary,
.button-favourite {
  font: var(--font-small-low-bold);
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.button-small-primary {
  max-width: 190px;
  padding: 8px 50px;
}

.button-transparent {
  font: var(--font-small-low-bold);
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
}

.sorting {
  display: flex;
  margin-bottom: 40px;
}

.select-sorting {
  font: var(--font-base-low);
  margin-right: 70px;
  width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.display-types {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
}

/* SEARCHING-RESULTS */

.lead-searching {
  margin-right: auto;
}

.searching-results {
  padding: 50px 70px 60px;
}
/*
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
}
*/

.product-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(340px, 1fr));
  gap: 20px;
  margin-bottom: 80px;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-card-image {
  display: block;
  margin-bottom: 16px;
}

.product-list li {
  width: 340px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.product-card-link {
  font: var(--font-header);
  color: #000000;
}

.category-price-container,
.card-buttons-container,
.rate-container {
  display: flex;
  justify-content: space-between;
}

.link-details {
  display: block;
  padding: 8px 24px;
  width: 140px;
  font: var(--font-small-low-bold);
  text-transform: uppercase;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #756157;
}

.button-favourite {
  display: block;
  padding: 8px 20px;
  width: 140px;
}

.button-favourite-current {
  padding: 8px 20px;
  font: var(--font-small-low-bold);
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
}

/* PAGINATION */

.pagination {
  display: flex;
  gap: 8px;
}

.pagination-link {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font: var(--font-large-high-bold);
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-link-current {
  font: var(--font-large-high-bold);
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-interval {
  font: var(--font-large-high-bold);
  color: #000000;
  background-color: #FFFFFF;
}

/* CATALOG SUBSCRIPTION */

.hotel-catalog-subscription {
  font: var(--font-xlarge);
  color: #333333;
  text-align: center;
  padding: 96px 0 104px;
}

.hotel-catalog-subscription h2 {
  font: var(--font-header-medium);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000000;
}

.additional-functions-link {
  min-width: 44px;
  min-height: 64px;
}

.lead-city {
  margin-bottom: 25px;
}

.lead-service {
  margin-bottom: 20px;
}

.description-hotel-search,
.description-subscription,
.description-hotel-catalog-subscription {
  margin-bottom: 54px;
}

.social-icon-link {
  min-width: 48px;
  min-height: 40px;
}

.display-type {
  width: 48px;
  height: 48px;
}
